<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>225931115654-6136h382daa6e5v02bnbp6b819u7vau6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225931115654-6136h382daa6e5v02bnbp6b819u7vau6</string>
	<key>API_KEY</key>
	<string>AIzaSyAJil8s2DgmB7eziyvSOE7zwu3qcrshNO4</string>
	<key>GCM_SENDER_ID</key>
	<string>225931115654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ChenAlan.taipeipublic</string>
	<key>PROJECT_ID</key>
	<string>taipeipublic-1525069439771</string>
	<key>STORAGE_BUCKET</key>
	<string>taipeipublic-1525069439771.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225931115654:ios:d9e3817337421b79</string>
	<key>DATABASE_URL</key>
	<string>https://taipeipublic-1525069439771.firebaseio.com</string>
</dict>
</plist>